.button {
-fx-background-color :linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #0006ff 0.0%, #ff0000 100.0%) ;
-fx-background-radius: 5,5,4;
}

.button:hover
{
-fx-background-color :linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #0006ff 0.0%, #ff0000 100.0%) ;
}
.button:pressed
{
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}
